.navbar {
  display: flex;
  flex-direction: row;
  padding: 0 24px;
  padding-left: 0;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: var(--main-yellow);
  border-bottom: 1px solid var(--main-yellow-border);
}

.navbar-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo__title {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
}

.navbar__menu,
.navbar__add {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--button-color);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.navbar__menu:active,
.navbar__add:active {
  transform: scale(0.95);
}


.navbar__menu:active,
.navbar__add:active {
  transform: scale(0.95);
}

@media (min-width: 700px) {
  .navbar__menu {
    display: none;
  }
}
