.container {
  /* display: grid;
  grid-template-columns: 1fr; */
}

.sidebar {
  grid-area: sidebar;
  position: fixed;
  width: 300px;
  /* display: none; */
  top: 60px;
  left: 0;
  height: calc(100vh - 60px);
  background-color: var(--bg-gray);
  border-right: 1px solid #e5e7eb;
  overflow-y: auto;
  z-index: 10;
  transform: translateX(-100%);
  visibility: hidden;
  transition:
    transform 0.3s ease-in-out,
    visibility 0.3s;
}

.sidebar--open {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transform: translateX(0);
  visibility: visible;
}

.main {
  grid-area: main;
}

/*
      <div class="main__note-header">
        <h2 class="main__note-card-title"></h2>
        <button class="btn-remove"><i class="fa-solid fa-trash-can"></i></button>
      </div> */

.main__note-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-remove {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}

/* Ефект при наведенні */
.btn-remove:hover {
  opacity: 0.7;
  color: red;
}

.btn-remove:focus {
  outline: none;
}

@media (min-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 0.34fr 1fr;
    grid-template-areas: "sidebar main";
    height: calc(100vh - 60px);
    overflow: hidden;
  }

  .sidebar {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    top: 0;
    height: 100%;
    border-right: none;
    overflow-y: auto;
  }
}
